/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	/*rem*/
	font-size: 15px;
	/*Paleta de colores*/
	--myRed:rgb(225,0,43);
}

body, html{
	position: relative;
}

/*Optimizado para PC*/
@media only screen and (min-width: 701px){
	/*Encabezado*/
		.header{
			height: 80vh;
			width: 100%;
			/*background: -webkit-linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),URL("./img/grabando.jpg");*/
			background: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.5)),URL("./img/grabando.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}
		.header section{
			display: flex;
			justify-content: center;
			width: 40vw;
			height: 20vh;
		}
		/*logo del header*/
		.logo{
			height: 100%;
			width: auto;
		}
		/*listado de links en menu*/
		.menu ul{
			list-style: none;
			text-align: center;
			font-family: "ROBOTO", sans-serif;
			padding: 20px;
		}
		.menu li{
			padding-top: 10px;
		}
		/*links del header*/
		.menu-link{
			text-decoration:none;
			color:white;
			font-size: 1.33rem;
			transition: 0.2s all;
		}
		.menu-link:hover{
			color: var(--myRed);
		}
		.menu-link:active{
			text-decoration: underline;
		}
	/*Fin encabezado*/

	/*Contenido Principal*/
		main{
			width: 100%;
		}
		/*redes*/
			.redes{
				position: fixed;
				left: 0;
				top: 30%;
				background-color: var(--myRed);
				width: 60px;
				height: auto;
				z-index: 1;
			}
			.col{
				width: 100%;
				height: auto;
			}
			.red{
				width: 100%;
				height: auto;
				padding:10px;
				transition: 0.5s all; 
			}
			.red .red-icon{
				fill: white;
				transition: 0.5s all;
			}
			.red:hover .red-icon{
				fill: black;
			}
			.red:hover{
				padding: 7px;
			}
		/*fin redes*/

		/*descripción*/
			.descripcion{
				background-color: rgba(50,50,50,1);
				padding: 15vh 15vw;
				text-align: center;
			}
			.descripcion h1{
				font-family: "Montserrat", sans-serif;
				font-size: 2rem;
				color: white;
				font-weight: bold;
			}
			.descripcion p{
				padding-top: 1rem;
				font-size: 1.6rem;
				font-family: "Montserrat", sans-serif;
				color: white;
			}
		/*fin descripcion*/
		/*Reel*/
			.reel{
				width: 100%;
				height: 78vh;
			}
			.reel iframe, .reel video{
				width: 100%;
				height: 100%;
			}
		/*Fin Reel*/
		/*PORTAFOLIO Navbar*/
			.navbar{
				height: 6rem;
				width: 100%;
				background-color: rgba(20,20,20,1);
				position: fixed;
				top: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;
				z-index: 1;
				/*border: 1px solid white;*/
			}
			.navbar img{
				height: 70%;
				width: auto;
				margin: 1.5rem;
			}
			.navbar nav{
				margin: 1.5rem;
				height: 100%;
			}
			.navbar ul{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 100%;
				list-style: none;
			}
			.navbar li{
				padding: 1.5rem;
				transition: 0.4s all;
				display: flex;
				align-items: center;
				width: auto;
				height: auto;
				cursor: pointer;
			}
			.nav-link a{
				text-decoration:none;
				font-family: "ROBOTO", sans-serif;
				color:white;
				font-size: 1.33rem;
				transition: 0.2s all;
			}
			.nav-link .activo{color: gray;}
			.nav-link:hover{background-color: var(--myRed);}
			.nav-link:active{text-decoration: line-through;}
		/*fin navbar*/
		/*contenido del portafolio*/
			.main-portafolio{margin-top: 8rem;}
			.portafolio{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.portafolio h1{
				font-family: "Montserrat", sans-serif;
				font-size: 2rem;
				color: black;
				font-weight: bold;
			}
			.malla{
				margin: 0 16rem;
				width: auto;
				display: flex;
				flex-wrap: wrap;
				overflow: hidden;
				background-color: rgba(255,255,255,0.5);
				/*padding: 1rem;*/
				/*border: 1px solid red;*/
			}
			.clip{
				width: 14rem;
				height: 14rem;
				margin: 0.2rem 0.2rem;
				overflow: hidden;
				position: relative;
				cursor: pointer;
				/*border: 0.5px solid black;*/
			}
			.clip img{
				width: 100%;
				height: 100%;
			}
			.clip p{
				color: white;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 2rem;
				position: absolute;
				top:0;
				background-color: rgba(0,0,0,.7);
				display: flex;
				align-items: center;
				justify-content: center;
				filter: opacity(0);
				transition: 1s all;
			}
			.clip:hover p{filter: opacity(1);}
		/*fin contenido portafolio*/
		/*CONTACTO*/
			.main-contacto{
				margin-top: 6rem;	
			}
			.contacto-imagen{
				width: 100%;
				height: 500px;
				background: URL("./img/grabando.jpg");
				background-size: cover;
				background-position: 0 -180px;
				background-repeat: no-repeat;
				overflow: hidden;
			}
			/*formulario*/
				form{
					width: 100%;
				}
			/*fin formulario*/
		/*FIN CONTACTO*/
	/*fin Contenido Principal*/
}
/*fin contenido para pc*/

/*Optimizado para smarthpones*/
@media only screen and (max-width: 700px){
	/*Encabezado*/
		.header{
			height: 60vh;
			width: 100%;
			/*background: -webkit-linear-gradient(to right, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),URL("./img/grabando.jpg");*/
			background: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.5)),URL("./img/grabando.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}
		.header section{
			display: flex;
			justify-content: center;
			width: 60vw;
			height: 20vh;
		}
		/*logo del header*/
		.logo{
			height: 80%;
			width: auto;
		}
		/*listado de links en menu*/
		.menu ul{
			list-style: none;
			text-align: center;
			font-family: "ROBOTO", sans-serif;
			padding: 40px;
		}
		.menu li{
			padding-top: 10px;
		}
		/*links del header*/
		.menu-link{
			text-decoration:none;
			color:white;
			font-size: 4rem;
			transition: 0.2s all;
		}
		.menu-link:hover{
			color: var(--myRed);
		}
		.menu-link:active{
			text-decoration: underline;
		}
	/*Fin encabezado*/

	/*Contenido Principal*/
		main{
			width: 100%;
		}
		/*redes*/
			.redes{
				position: fixed;
				left: 0;
				top: 40%;
				background-color: var(--myRed);
				width: 100px;
				height: auto;
				z-index: 1;
			}
			.col{
				width: 100%;
				height: auto;
			}
			.red{
				width: 100%;
				height: auto;
				padding:15px;
				transition: 0.5s all; 
			}
			.red .red-icon{
				fill: white;
				transition: 0.5s all;
			}
			.red:hover .red-icon{
				fill: black;
			}
			.red:hover{
				padding: 7px;
			}
		/*fin redes*/

		/*descripción*/
			.descripcion{
				background-color: rgba(50,50,50,1);
				padding: 10vh 12vw;
				text-align: center;
			}
			.descripcion h1{
				font-family: "Montserrat", sans-serif;
				font-size: 1.4rem;
				color: white;
				font-weight: bold;
			}
			.descripcion p{
				padding-top: 2rem;
				font-size: 0.8rem;
				font-family: "Montserrat", sans-serif;
				color: white;
			}
		/*fin descripcion*/
		/*Reel*/
			.reel{
				width: 100%;
				height: 50vh;
			}
			.reel iframe, .reel video{
				width: 100%;
				height: 100%;
			}
		/*Fin Reel*/
		/*PORTAFOLIO Navbar*/
			.navbar{
				height: 10rem;
				width: 100%;
				background-color: rgba(20,20,20,1);
				position: fixed;
				top: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;
				z-index: 1;
				/*border: 1px solid white;*/
			}
			.navbar img{
				height: 70%;
				width: auto;
				margin: 1.5rem;
			}
			.navbar nav{
				margin: 1.5rem;
				height: 100%;
			}
			.navbar ul{
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 100%;
				list-style: none;
			}
			.navbar li{
				padding: 1rem;
				transition: 0.4s all;
				display: flex;
				align-items: center;
				width: auto;
				height: auto;
				cursor: pointer;
			}
			.nav-link a{
				text-decoration:none;
				font-family: "ROBOTO", sans-serif;
				color:white;
				font-size: 2.6rem;
				transition: 0.2s all;
			}
			.nav-link .activo{color: gray;}
			.nav-link:hover{background-color: var(--myRed);}
			.nav-link:active{text-decoration: line-through;}
		/*fin navbar*/
		/*contenido del portafolio*/
			.main-portafolio{
				margin-top: 12rem;
				display: flex;
				justify-content: center;
			}
			.portafolio{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.portafolio h1{
				font-family: "Montserrat", sans-serif;
				font-size: 4rem;
				color: black;
				font-weight: bold;
			}
			.malla{
				margin: 0 10rem;
				width: auto;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				overflow: hidden;
				background-color: rgba(255,255,255,0.5);
				/*padding: 1rem;*/
				/*border: 1px solid red;*/
			}
			.clip{
				width: 20rem;
				height: 20rem;
				margin: 0.2rem 0.2rem;
				overflow: hidden;
				position: relative;
				cursor: pointer;
				/*border: 0.5px solid black;*/
			}
			.clip img{
				width: 100%;
				height: 100%;
			}
			.clip p{
				color: white;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 2rem;
				position: absolute;
				top:0;
				background-color: rgba(0,0,0,.7);
				display: flex;
				align-items: center;
				justify-content: center;
				filter: opacity(0);
				transition: 1s all;
			}
			.clip:hover p{filter: opacity(1);}
		/*fin contenido portafolio*/
		/*CONTACTO*/
			.main-contacto{
				margin-top: 6rem;	
			}
			.contacto-imagen{
				width: 100%;
				height: 500px;
				background: URL("./img/grabando.jpg");
				background-size: cover;
				background-position: 0 -180px;
				background-repeat: no-repeat;
				overflow: hidden;
			}
			/*formulario*/
				form{
					width: 100%;
				}
			/*fin formulario*/
		/*FIN CONTACTO*/
	/*fin Contenido Principal*/
}
/*fin contenido para smathphones*/